$accent-color: #FF7A1B
$white-color: #ffffff
$font-dark-color: #151515
$font-light-color: #808080

$background-accent-color: #F6CB52

$default-font: 'Muller', sans-serif
$default-transition: .35s
$default-opacity: .8

$border-param: 1px solid #E5E5E5

*, body, html 
	margin: 0
	padding: 0
	font-family: $default-font
	box-sizing: border-box

html, body
	min-width: 320px
	font-weight: 500
	font-style: normal
	color: $font-dark-color
	background-color: $background-accent-color

html
	height: 100%
	scroll-behavior: smooth

body 
	// +flex
	position: relative
	height: auto
	//overflow: hidden
	// min-height: 100%
	// +flex-direction(column)

// .wrapper
// 	flex: 1 0 auto

// footer
// 	margin:
// 		top: auto
// 	flex: 0 0 auto

button,
input,
textarea,
select
	outline: none
	border-radius: 0
	-moz-appearance: none
  -webkit-appearance: none
  +prefix(appearance, none)

a
	text-decoration: none

.main-wrapper
	margin: 0 auto
		top: 165px
	width: 100%
	max-width: 1200px
	background-color: $white-color

.wrapper
	padding: 0 30px
		bottom: 102px

	&-box
		+flex

	&-content
		+flex
		padding:
			top: 30px
			right: 30px
		width: 100%
		max-width: 910px
		min-height: 100%
		+flex-direction(column)

	&-tracklist
		margin: 0 -10px

	&-elements
		margin:
			bottom: 100px
		flex: 1 0 auto

	&-sidebar
		padding:
			top: 30px
			left: 30px
		width: 100%
		max-width: 290px
		border-left: $border-param

	&-elem
		margin:
			bottom: 55px

		&:last-child
			margin: 
				bottom: 0

	&-song
		.track
			&-share
				&-dropdown-wrap
					padding:
						top: 35px

	&-heading
		+flex
		margin:
			bottom: 25px
		+justify-content(space-between)

		&-title
			position: relative
			font-size: 22px
			font-weight: 700
		
		&-link
			+flex 
			position: relative
			margin:
				left: 10px
				right: 15px
			font-size: 16px
			color: $font-dark-color
			white-space: nowrap
			+align-items(center)
			+prefix(transition, $default-transition)

			&:hover
				color: $accent-color
				.wrapper-heading-icon
					margin:
						left: 13px
					
					path
						stroke: $accent-color

		&-icon
			display: inline-block
			position: relative
			margin:
				left: 10px
			+prefix(transition, all $default-transition)
			
			path
				+prefix(transition, $default-transition)

		&-comment-value
			position: absolute 
			right: -25px
			top: -8px
			font-size: 14px
			font-weight: 700
			color: $font-light-color

	&-tab
		margin:
			bottom: 30px

		&-elem
			display: inline-block
			position: relative
			margin:
				right: -1px
			padding: 8px 15px
			font-size: 14px
			line-height: 14px
			font-weight: 500
			color: $font-dark-color
			border: 1px solid #c4c4c4
			text-transform: lowercase
			z-index: 0
			+prefix(transition, $default-transition)

			&:first-child
				border-top-left-radius: 50px
				border-bottom-left-radius: 50px
			
			&:last-child
				border-top-right-radius: 50px
				border-bottom-right-radius: 50px
			
			&:hover
				border-color: #808080
				z-index: 1
			
		&-elem.active
			color: $accent-color
			border-color: $accent-color	
			z-index: 2

.wrapper.main-page
	padding: 
		top: 30px
		bottom: 102px

	.wrapper-content,
	.wrapper-sidebar
		padding:
			top: 0

.track
	+flex
	position: relative
	padding: 8px 10px
	max-width: 100%
	+align-items(center)
	border: 1px solid  transparent
	border-radius: 5px
	+prefix(transition, $default-transition)
	cursor: pointer

	&:last-child
		margin:
			bottom: 0
	
	&-img-box
		position: relative
		width: 100%
		max-width: 45px
		height: 45px
		border-radius: 5px
		overflow: hidden
	
	&-number
		display: block
		margin:
			top: 5px
			left: 8px
		text-align: left

	&-play
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0, 0, 0, 0.5)
		opacity: 0
		visibility: hidden
		+prefix(transition, $default-transition)

		&:before,
		&:after
			content: ''
			display: block
			position: absolute
			margin:
				top: -13px
				left: -13px
			top: 50%
			left: 50%
			width: 26px
			height: 26px
			background-color: $accent-color
			background-size: 10px 12px
			background-repeat: no-repeat
			border-radius: 100%	
			opacity: 0

		&:before
			background-image: url(../img/icon/play-btn.svg)
			background-position: 9px 7px
			opacity: 1
		
		&:after
			background-image: url(../img/icon/pause-icon.svg)
			background-position: 8px 7px
		
	&-info
		margin:
			top: 0
			left: 13px
			
	&-control
		+flex
		margin: 0 0 0 auto
		+align-items(center)
		
		&-item
			margin:
				right: 25px
			cursor: pointer
			
			&:last-child 
				margin:
					right: 0
			
			path
				+prefix(transition, $default-transition)

			&:not(.active):hover
				path 
					stroke: $font-dark-color

				.track-hq-icon,
				.track-shuffle-icon,
				.track-repeat-icon,
				.track-volume-icon
						path
							stroke: $font-dark-color
						
				.track-shuffle-icon
					.track-control-icon-fill
						stroke: none
						fill: $font-dark-color
				
				.track-repeat-icon
					.track-control-icon-fill
						stroke: $font-dark-color
						fill: $font-dark-color

	&-like
		font-size: 14px
		line-height: 14px
		color: $font-light-color
		+align-items(center)

		&-value
			margin:
				top: 4px
				left: 7px
		
	&-like.active
		.track-control-icon
			fill: $accent-color

			path
				stroke: $accent-color

	&-add
		min-width: 18px

		.track-control-icon
			display: block
			margin: 0 auto

		.track-control-add-checkmark-icon
			display: none

	&-add.active
		.track-control-add-icon
			display: none
		
		.track-control-add-checkmark-icon
			display: block

	&-shuffle.active,
	&-repeat.active
		.track-control-icon
			path
				stroke: $accent-color
			
			.track-control-icon-fill
				fill: $accent-color
	
	&-shuffle.active
		.track-control-icon			
			.track-control-icon-fill
				stroke: none

	&-duration
		min-width: 44px
		font-size: 14px
		color: $font-light-color
		text-align: center
	
	&__duration
		display: none

	&-download
		margin: 0 auto
		width: 16px
		height: 16px

	&-hq
		color: $font-light-color
		+prefix(transition, $default-transition)
			
		&:hover
			color: $font-dark-color
	
	&-hq.active
		color: $accent-color

	&-hq.active:hover,
	&-shuffle.active:hover,
	&-repeat.active:hover
		opacity: .7

	&-volume
		+flex
		+align-items(center)

		&-slider
			display: block !important
			width: 88px
			height: 3px
			background-color: #C4C4C4
			cursor: pointer
			visibility: visible !important

			.ui-slider-range
				background-color: $accent-color

			.ui-slider-handle
				top: -5px
				width: 13px
				height: 13px
				border: 0
				background-color: $accent-color
				border-radius: 100%
				cursor: pointer
				outline: none
				
	&-like,
	&-share,
	&-download
		display: none

	&-share
		position: relative
		
		&-dropdown-wrap
			display: none
			position: absolute
			padding:
				top: 60px
			top: 0
			left: 50%
			+prefix(transform, translateX(-50%))
			z-index: 20

			&.active
				display: block

		&-dropdown
			+flex
			position: relative
			padding: 19px 20px
			min-width: 355px
			background-color: $white-color
			border: $border-param
			border-radius: 5px
			+align-items(center)
			+justify-content(flex-start)

			&::before
				content: ''
				display: block
				position: absolute
				margin:
					left: -6px
				top: -7px
				left: 50%
				width: 12px 
				height: 12px
				background-color: $white-color
				border-top: $border-param
				border-left: $border-param
				+prefix(transform, rotate(45deg))

			&-social
				display: inline-block
				margin:
					right: 5px
				width: 24px
				height: 24px
				border-radius: 100px
				background-size: auto
				background-position: center center
				background-repeat: no-repeat
			
			&-social.vk-link
				background-image: url(../img/icon/vk-icon.svg)
				background-color: #55769F
			
			&-social.tw-link
				background-image: url(../img/icon/twitter-icon.svg)
				background-color: #6AABE9
			
			&-social.fb-link
				background-image: url(../img/icon/fb-icon.svg)
				background-color: #405898
			
			&-social.od-link
				background-image: url(../img/icon/od-icon.svg)
				background-color: #E37931
			
			&-copy
				position: relative
				margin:
					left: 20px
				padding:
					left: 32px 
				font-size: 14px
				font-weight: 500
				color: $font-dark-color

				&::before
					content: ''
					display: block
					position: absolute
					top: 1px
					left: 0
					width: 22px 
					height: 11px
					background-image: url(../img/icon/link-icon.svg)
					background-size: cover
					background-position: center center
					background-repeat: no-repeat

			&-social:hover,
			&-copy:hover
				opacity: $default-opacity
	
	&.mustoggler_playing
		.track-play
			&:after
				opacity: 1

			&:before
				opacity: 0
		
		.equalizer
			opacity: 1
		
		.track__fulltime
			display: none
		
		.track__duration
			display: block

		.track-number
			opacity: 0
		
		&:hover
			.track-play
				&:after
					opacity: 1
				
				&:before
					opacity: 
				
			.equalizer
				opacity: 0

		&.mustoggler_paused
			.equalizer
				opacity: 0
			
			.track-play
				&:after
					opacity: 0
				
				&:before
					opacity: 1

	&.mustoggler_playing.mustoggler_paused
		.track-number
			opacity: 1

	&.album-track
		margin: 0 -15px

		.track-img-box
			margin:
				left: -5px
			width: 26px
			height: 26px

		.track-play
			width: 26px
			height: 26px
			background-color: $white-color

		.equalizer
			&::after
				display: none

			background-color: $white-color
			&-bar
				background-color: $accent-color

.equalizer
	display: block
	position: absolute
	left: 50%
	top: 50%
	height: 18px
	width: 17px
	transform: translate(-50%, -50%)
	transition: .3s
	opacity: 0
	z-index: 1

	&::after
		content: ''
		display: block
		position: absolute
		top: -100%
		left: -100%
		right: -100%
		bottom: -100%
		background-color: rgba(0, 0, 0, 0.3)
		z-index: 0

	&-bar
		position: relative
		background: #fff
		bottom: 0
		height: 3px
		position: absolute
		width: 2px
		+prefix(animation, sound 0ms -800ms linear infinite alternate)
		z-index: 1

		&:nth-child(1)
			left: 0px
			+prefix(animation-duration, 474ms)
		
		&:nth-child(2)
			left: 5px
			+prefix(animation-duration, 433ms)

		&:nth-child(3)
			left: 10px
			+prefix(animation-duration, 407ms)

		&:nth-child(4)
			left: 15px
			+prefix(animation-duration, 458ms)
	
+keyframes(sound)
	0% 
		height: 3px

	100% 
		height: 18px

.media
	&-wrapper
		
	&-elem-wrap
		+flex
		margin: 0 -7px
		+flex-wrap(wrap)
		+justify-content(flex-start)
		+align-items(flex-start)

	&-elem 
		display: block
		position: relative
		margin-bottom: 20px
		padding: 0 7px
		width: 20%
		cursor: pointer

		&:last-child
			margin-right: 0

		&:not(.mustoggler_playing):hover
			.media-img-box
				opacity: $default-opacity
		
		&.mustoggler_playing
			.media-play
				opacity: 1
				visibility: visible

				&:after
					opacity: 1

				&:before
					opacity: 0
		
	&-img-box
		position: relative
		width: 100%
		padding-bottom: 100%
		border-radius: 5px
		overflow: hidden
		+prefix(transition, $default-transition)

		&:hover
			.media-play
				opacity: 1
				visibility: visible
	
	&-img
		display: block
		position: absolute
		margin: auto
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		max-width: 100%
		height: 100%
		max-height: 100%

	&-play
		+flex
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0, 0, 0, 0.5)
		opacity: 0
		visibility: hidden
		+prefix(transition, $default-transition)

		&:before,
		&:after
			content: ''
			display: block
			position: absolute
			margin:
				top: -25px
				left: -25px
			top: 50%
			left: 50%
			width: 50px
			height: 50px
			background-color: $accent-color
			background-size: 15px 18px
			background-position: center center
			background-repeat: no-repeat
			border-radius: 100%	
			opacity: 0

		&:before
			background-image: url(../img/icon/play-btn.svg)
			opacity: 1
		
		&:after
			background-image: url(../img/icon/pause-icon.svg)
			
	&-info
		margin:
			top: 10px

	&-link,
	&-name,
	&-artist
		display: block
		max-width: 300px
		white-space: nowrap
		-o-text-overflow: ellipsis
		text-overflow: ellipsis
		overflow: hidden

	&-link	
		color: $font-dark-color		
		+prefix(transition, $default-transition)
	
		&:hover
			color: $accent-color

	&-name
		font-size: 15px
		line-height: 15px
		color: $font-dark-color
	
	&-artist
		margin:
			top: 7px
		font-size: 14px
		line-height: 14px
		color: $font-light-color

	&-view-more
		display: none
		position: relative
		font-size: 16px
		color: $font-dark-color
		+justify-content(center)
		+align-items(center)
		+prefix(transition, $default-transition)

		&:hover
			color: $accent-color
			.wrapper-heading-icon
				margin:
					left: 13px
				
				path
					stroke: $accent-color

.media-wrapper.artist
	.media
		&-img-box
			border-radius: 100%
		
		&-play
			border-radius: 100%
		
		&-name,
		&-artist
			text-align: center

.tag
	+flex
	+justify-content(flex-start)
	+flex-wrap(wrap)

	&-elem
		display: block
		margin:
			right: 9px
			bottom: 9px
		padding: 8px 10px 7px 10px
		font-size: 14px
		line-height: 14px
		color: $font-dark-color
		border: 1px solid #c4c4c4
		border-radius: 5px
		+prefix(transition, $default-transition)

		&:last-child
			margin:
				right: 0
		
		&:hover
			color: $accent-color
			border-color: $accent-color

.header-info 
	+flex
	+align-items(flex-start)

	&-img-box
		position: relative
		width: 24.4%
		padding:
			bottom: 24.4%
		border-radius: 5px
		overflow: hidden
		background-image: url(../img/icon/person-icon.svg)
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
	
	&-img
		display: block
		position: absolute
		margin: auto
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		max-width: 100%
		height: 100%
		max-height: 100%
		object-fit: cover

	&-artist
		.header-info-img-box
			border-radius: 100%
		
		.header-info-wrap
			margin:
				top: 30px

	&-genre
		font-size: 16px
		line-height: 28px
		color: $font-light-color
		+prefix(transition, $default-transition)

		&:hover
			color: $accent-color

	&-wrap
		margin:
			left: 28px
		width: 75.6%
	
	h1,
	&-name
		font-size: 35px
		font-weight: 700

	&-email
		margin:
			top: 5px
	
	&-btn
		display: inline-block
		margin:
			top: 10px
		padding: 7px 20px 8px 20px
		font-size: 15px
		line-height: 28px
		font-weight: 500
		border: 1px solid $accent-color
		border-radius: 50px
		color: $font-dark-color
		+prefix(transition, $default-transition)

		&:hover
			color: $white-color
			background-color: $accent-color

	&-list
		+flex
		margin:
			top: 20px
		width: 100%
		max-width: 505px
		+justify-content(space-between)
		+flex-wrap(wrap)

		&-elem
			margin:
				right: 10px
			width: 50%
			max-width: 216px
			font-size: 14px
			line-height: 28px
			font-weight: 500

			&:nth-child(even)
				margin:
					right: 0

		&-name 
			color: $font-light-color
		
		&-value
			margin:
				left: 5px
		
		&-link
			color: $font-dark-color

			&::after
				content: ','
				display: inline-block
				position: relative
				margin:
					right: 5px
			
			&:last-child
				&::after 
					display: none

			&:hover
				color: $accent-color
		
		&-year
			position: relative
			margin:
				left: 0
			padding: 
				right: 8px

			&::after
				content: ''
				display: block
				position: absolute
				top: 5px
				right: 0
				width: 3px
				height: 3px
				background-color: #C4C4C4
				border-radius: 100%

	&-album-artist
		width: 100%
		max-width: 100%

	&-select-wrap
		display: inline-block
		margin:
			left: 20px
		position: relative

		&::after
			content: ''
			display: block
			position: absolute
			margin:
				top: -3px
			top: 50%
			right: 15px
			width: 12px
			height: 6px
			background-image: url(../img/icon/arrow-down-blk-icon.svg)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat

	&-select
		padding: 14px 15px 10px 15px
		min-width: 190px
		font-size: 14px
		line-height: 14px
		font-weight: 500
		background-color: #fff
		border: $border-param
		border-radius: 5px
		-webkit-appearance: none
	
	&-select::-ms-expand
		display: none

	&-control
		+flex
		margin:
			top: 20px

	&-play
		+flex
		margin:
			right: 9px
		padding: 9px
		max-width: 119px
		height: 40px
		border-radius: 50px
		+align-items(center)
		background-color: $accent-color
		+prefix(transition, $default-transition)
		cursor: pointer

		&:hover
			opacity: $default-opacity

		&-btn
			display: inline-block
			position: relative
			width: 22px
			height: 22px 
			background-color: #151515
			background-size: auto
			background-position: center center
			background-repeat: no-repeat
			border-radius: 100% 

			&:before,
			&:after
				content: ''
				display: block
				position: absolute
				margin:
					top: -4px
					left: -5px
				top: 50%
				left: 50%
				width: 10px
				height: 8px
				background-size: auto
				background-repeat: no-repeat
				opacity: 0

			&:before
				background-image: url(../img/icon/play-white-btn.svg)
				background-position: 3px -1px
				opacity: 1

			&:after
				background-image: url(../img/icon/pause-white-icon.svg)
				background-position: 1px -1px
		
		&-text
			margin:
				top: 2px
				left: 6px
			font-size: 14px
			color: $font-dark-color

		
		&.mustoggler_playing
			.header-info-play-btn
				&:before
					opacity: 0
				
				&:after
					opacity: 1
		
		&.mustoggler_playing.mustoggler_paused
			.header-info-play-btn
				&:before
					opacity: 1
				
				&:after
					opacity: 0
			
	.track-like
		+flex
		margin:
			right: 9px
		padding: 9px
		height: 40px
		+justify-content(center)
		max-width: 100px
		border: $border-param
		border-radius: 50px
	
	.track-share,
	.track-download
		margin: 0
			right: 9px
	
	.track-share,
	.track-download,
	.track-add
		+flex
		+justify-content(center)
		+align-items(center)
		width: 40px
		height: 40px
		border: $border-param
		border-radius: 100%

	&-value-song
		margin:
			left: 10px
		font-size: 14px
		font-weight: 500
		color: $font-dark-color
	
	&-desc
		margin:
			top: 10px
		width: 100%
		font-size: 15px
		font-weight: 500
		color: $font-light-color
		line-height: 28px
	
.header-info-single
	display: block
	margin:
		bottom: 25px

.header-info-mood
	+flex
	margin:
		bottom: 25px
	+align-items(center)

.ganre-heading
	position: relative
	margin:
		top: -30px 
		right: -30px
		left: -30px
		bottom: 30px
	min-height: 290px
	max-height: 290px

	&-bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		background-image: url(../img/ganre-heading.jpg)
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		z-index: 0

		&::after
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			background: rgb(0,0,0)
			background: -moz-radial-gradient(circle, rgba(0,0,0,0) 5%, rgba(0,0,0,0.74) 100%)
			background: -webkit-radial-gradient(circle, rgba(0,0,0,0) 5%, rgba(0,0,0,0.74) 100%)
			background: radial-gradient(circle, rgba(0,0,0,0) 5%, rgba(0,0,0,0.74) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1)

	&-info
		+flex
		position: relative
		padding: 30px
			bottom: 0
		height: 100%
		min-height: 290px
		color: $white-color
		+flex-flow(column)
		+justify-content(space-between)
		z-index: 1

	&-select
		position: relative
		padding: 12px 15px
		max-width: 190px
		font-size: 14px
		line-height: 14px
		font-weight: 500
		color: #E5E5E5
		background-color: transparent
		border: $border-param
		border-radius: 5px
		-webkit-appearance: none
		cursor: pointer
		+prefix(transition, $default-transition)

		&::after
			content: ''
			display: block
			position: absolute
			margin:
				top: -3px 
			top: 50%
			right: 15px
			width: 12px
			height: 6px
			background-image: url(../img/icon/arrow-down-wht-icon.svg)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat 

		&:hover
			color: $white-color
			border-color: $white-color
			background-color: rgba(255,255,255,.15)

	&-title
		margin:
			bottom: 30px
		font-size: 35px
		line-height: 35px

	.second-tab
		border: 0
		padding: 0 30px

		.second-tab-elem
			color: rgba(255, 255, 255, .8)

			&::after
				bottom: 0

			&:hover
				color: $accent-color

		.second-tab-elem.active
			color: $white-color 

	&-tag
		display: none
		position: relative
		padding: 35px 30px
		width: 100%
		height: 100%
		min-height: 290px
		max-height: 290px
		background-color: $white-color
		border-bottom: $border-param
		border-left: $border-param
		z-index: 1

	&-close-btn
		+flex
		padding: 3px 10px 4px 10px
		max-height: 31px
		font-size: 14px
		line-height: 14px
		font-weight: 500
		background-color: transparent
		border: 0
		+align-items(center)
		cursor: pointer

		img 
			margin: 
				top: -4px
			width: 11px 
			height: 11px
			+prefix(transition, $default-transition)
		
		span
			margin:
				left: 10px

		&:hover
			img
				+prefix(transform, rotate(90deg))

.second-tab
	margin: 0 -30px
		bottom: 35px
	padding: 0 30px
	border-bottom: $border-param

	&-elem
		display: inline-block
		position: relative
		margin:
			right: 25px
		padding: 
			bottom: 15px
		font-weight: 700
		color: $font-dark-color
		+prefix(transition, $default-transition)

		&::after
			content: ''
			display: none
			position: absolute
			bottom: -1px
			left: 0
			width: 100%
			height: 2px
			background-color: $accent-color

		&:hover
			color: $accent-color
	
	&-elem.active
		&::after
			display: block

.show-more
	+flex
	margin: 0 auto
	background-color: transparent
	border: 0
	+align-items(center)
	cursor: pointer

	&-img
		+prefix(transition, $default-transition)

	&-text
		margin:
			top: 2px
			left: 10px
		font-size: 15px
		line-height: 15px
		font-weight: 500
		color: $accent-color

	&:hover
		.show-more-img
			+prefix(transform, rotate(-45deg))

.pagination
	+flex
	margin:
		top: 30px
	+justify-content(center)
	+align-items(center)

	&-elem
		+flex
		width: 30px
		height: 30px
		font-size: 15px
		line-height: 15px
		color: $font-dark-color
		border: 1px solid transparent
		border-radius: 5px
		+justify-content(center)
		+align-items(center)
		+prefix(transition, $default-transition)

		&:not(.active):hover
			color: $accent-color

	&-elem.active
		color: $accent-color
		border-color: $accent-color
	
	&-nav
		&-icon
			path
				+prefix(transition, $default-transition)
		
		&:not(.disabled):hover
			.pagination-nav-icon
				path
					stroke: #000
	
	&-nav.disabled 
		.pagination-nav-icon
			path
				stroke: #C4C4C4

.main-form
	+flex
	+flex-flow(column)
	+align-items(flex-start)
	max-width: 400px

	&-input-wrap
		position: relative
		width: 100%

		label.error
			position: absolute
			font-size: 12px
			color: red
			left: 20px
			bottom: 15px

	&-input
		margin:
			bottom: 10px
		padding: 15px 20px
		width: 100%
		font-size: 16px
		line-height: 28px
		color: $font-dark-color
		border: $border-param
		border-radius: 8px
		+prefix(transition, $default-transition)

		+placeholder()
			color: #C4C4C4
		
		&:focus
			border-color: #0054B9

			+placeholder()
				color: #b3b3b3
	
	&-btn
		display: inline-block
		position: relative
		padding: 16px 30px
		min-width: 130px
		font-size: 16px
		font-weight: 700
		line-height: 28px
		color: $font-dark-color
		border: 0
		background-color: $accent-color
		border-radius: 50px
		cursor: pointer
		+prefix(transition, $default-transition)
		overflow: hidden

		&.registration-btn
			padding: 16px 27px
			min-width: 213px

		span
			position: relative
			z-index: 2

		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			border: 2px solid $accent-color
			border-radius: 50px
			background-color: transparent
			z-index: 1

		&::after
			content: ''
			display: block
			position: absolute
			bottom: -50px
			left: 50%
			width: 50px
			height: 50px
			border-radius: 50%
			background-color: $white-color
			z-index: 0
			+prefix(transition, $default-transition)
			+prefix(transform, translateX(-50%))

		&:hover
			&::after
				+prefix(transform, scale(7))

		&-wrap
			+flex
			margin:
				top: 20px
			+align-items(center)

	&-link
		display: block
		margin:
			left: 20px
		font-size: 14px
		line-height: 28px
		color: #0054B9
		
		&:hover
			text-decoration: underline

.social-login
	margin:
		bottom: 25px

	&-title
		margin:
			top: 20px
		font-size: 16px
		line-height: 28px
		color: $font-dark-color
	
	&-list
		+flex
		margin:
			top: 10px

	&-item
		+flex
		position: relative
		margin:
			right: 10px
		padding: 10px
		width: 45px
		height: 45px
		border: 1px solid transparent
		border-radius: 8px
		+prefix(transition, $default-transition)
		cursor: pointer

		&:last-child
			margin: 0

		svg
			position: relative
			margin: auto
			max-height: 18px
			z-index: 1

			path
				+prefix(transition, $default-transition)

		&:hover
			path,
			circle
				fill: $white-color
	
	&-item.social-go
		border-color: #5085ED

		&:hover
			background-color: #5085ED
			
	&-item.social-od
		border-color: #D96B2A

		&:hover
			background-color: #D96B2A
	
	&-item.social-vk
		border-color: #5279A4

		&:hover
			background-color: #5279A4
	
	&-item.social-fb
		border-color: #405994

		&:hover
			background-color: #405994
	
	&-item.social-mail
		border-color: #F4AC4C

		&:hover
			background-color: #F4AC4C

	&-item.social-login-more
		border-color: #000

		&:hover
			background-color: #000
	
	&-more
		
		&:hover
			.social-login-more-dropdown-wrap
				display: block

		&-dropdown-wrap
			display: none 
			position: absolute
			padding:
				top: 65px
			top: 0
			right: -15px
			z-index: 20

		&-dropdown
			position: relative	
			padding: 20px
				right: 30px
			background-color: $white-color
			border: 1px solid #EEEEEE
			border-radius: 8px
			+box-shadow(0px 6px 20px rgba(0, 0, 0, 0.1))

			&::before
				content: ''
				display: block
				position: absolute
				top: -7px
				right: 27px
				width: 12px 
				height: 12px
				background-color: $white-color
				border-top: 1px solid #EEEEEE
				border-left: 1px solid #EEEEEE
				+prefix(transform, rotate(45deg))

		&-item
			+flex
			margin:
				bottom: 13px
			font-size: 14px
			font-weight: 500
			color: $font-dark-color
			line-height: normal
			+align-items(center)

			&:last-child
				margin: 0

			&:hover
				text-decoration: underline

		&-item.social-more-inst
			.social-login-more-img
				background-color: #E53E73
		
		&-item.social-more-twitter
			.social-login-more-img
				background-color: #6AABE9

		&-item.social-more-ya
			.social-login-more-img
				background-color: #EC4234

		&-item.social-more-lf
			.social-login-more-img
				background-color: #B5291B
		
		&-item.social-more-sc
			.social-login-more-img
				background-color: #EE6F2D

		&-img
			+flex
			margin: 
				right: 8px
			width: 24px
			height: 24px 
			background-color: lightgray
			border-radius: 100%

			img
				margin: auto