.cabinet-page
	.header-info
		&-wrap
			margin:
				top: 10px
				left: 10px
		
		&-name,
		&-email,
		&-btn
			margin:
				left: 15px

		&-name
			padding:
				top: 16px
				bottom: 16px
				left: 1px
			font-size: 28px
			line-height: 28px
		
		.userphoto-change
			+flex
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(21, 21, 21, .5)
			opacity: 0
			+prefix(transition,  $default-transition)

			&-input
				margin: auto
				width: 100%
				height: 100%
				font-size: 0
				color: transparent
				cursor: pointer
				+prefix(transition, $default-transition)

				&::-webkit-file-upload-button
					visibility: hidden
				
				&::before
					content: ''
					display: block
					position: absolute
					top: 50%
					left: 50%
					width: 35px
					height: 32px
					background-image: url(../img/icon/camera-icon.svg)
					background-size: cover
					background-position: center center
					background-repeat: no-repeat
					+prefix(transform, translate(-50%, -50%))

				&:hover
					opacity: $default-opacity
		
		.header-info-img-box:hover
			.userphoto-change
				opacity: 1

		.username-change

			&-btn
				display: inline-block
				margin:
					left: 5px
				width: 17px
				height: 17px
				background-image: url(../img/icon/pencil-icon.svg)
				background-size: cover
				background-position: center center
				background-repeat: no-repeat
				+prefix(transition, $default-transition)
				cursor: pointer

				&:hover
					+prefix(transform, scale(1.1))
			
			&-form
				display: none
				+align-items(flex-start)
				max-width: 460px
				border: $border-param
				border-radius: 8px
				+justify-content(flex-start)
				+align-items(center)
				overflow: hidden

			&-form.active
				+flex

			&-input 
				padding: 15px
				font-size: 28px
				line-height: 28px
				font-weight: 700
				width: 100%
				max-width: 330px 
				background-color: $white-color
				border: 0

			&-close
				display: block
				margin:
					top: -6px
				width: 14px
				height: 14px
				background-color: transparent
				border: 0
				cursor: pointer

				&-icon
					path
						+prefix(transition, $default-transition)

				&:hover
					.username-change-close-icon
						path
							stroke: $font-dark-color

			&-submit
				position: relative
				padding: 15px
				font-size: 16px
				line-height: 28px
				font-weight: 500
				color: $font-dark-color
				background-color: $white-color 
				cursor: pointer
				+prefix(transition, $default-transition)
				border: 0

				&:hover
					color: $accent-color 