.main
	&-slider
		position: relative

		.owl-nav
			
			button.owl-prev,
			button.owl-next
				position: absolute
				+flex
				top: 90px
				width: 38px
				height: 38px
				font-size: 0
				border-radius: 100%
				background-color: #fff
				+align-items(center)
				+justify-content(center)
				+box-shadow(0px 0px 10px rgba(0, 0, 0, 0.15))
				+prefix(transition, $default-transition)

				&:hover
					+prefix(transform, scale(1.1))
				span 
					display: block
					width: 6px
					height: 15px
					background-size: cover
					background-position: center center
					background-repeat: no-repeat

			button.owl-prev
				left: -15px
				
				span
					margin:
						left: -2px
					background-image: url(../img/icon/slider-arrow-left.svg)
			
			button.owl-next
				right: -15px
				
				span
					margin:
						right: -2px
					background-image: url(../img/icon/slider-arrow-right.svg)

			button.disabled
				opacity: $default-opacity
		
		.owl-stage
			padding:
				left: 0 !important

		.media
			&-elem 
				position: relative
				margin: 0
				padding: 0
				width: 100%
				max-width: 215px
				cursor: pointer

				&:hover
					.media-img-box
						opacity: 1
	