.wrapper-text
	h1
		font-size: 35px
		font-weight: 700
	
	h2,
	h3,
	h4,
	h5
		margin:
			top: 35px
			bottom: 15px
		font-size: 22px
		line-height: 32px
	
	p
		margin: 
			bottom: 15px
		font-size: 16px
		line-height: 32px 
		font-weight: 500
		color: $font-dark-color 

	a
		color: #0054B9

		&:hover
			text-decoration: underline
	
	ul,
	ol
		padding: 5px 0
		list-style-position: inside

		li
			font-size: 16px
			line-height: 32px