.all-page
	.all-page_box
		.all-page_title 
			img(src="style/img/icon/logo.svg", alt="Logo")
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| 1. Главная страница 
					span (main_page.html)
			li
				a(href="track_page.html" target="_blank") 
					| 2. Песня 
					span (track_page.html)
			li
				a(href="artist_page.html" target="_blank") 
					| 3. Исполнитель 
					span (artist_page.html)
			li
				a(href="album_page.html" target="_blank") 
					| 4. Альбом 
					span (album_page.html)
			li
				a(href="usermusic_page.html" target="_blank") 
					| 5. Моя музыка 
					span (usermusic_page.html)
			li
				a(href="allartist_page.html" target="_blank") 
					| 6. Все исполнители 
					span (allartist_page.html)
			li
				a(href="popularalbum_page.html" target="_blank") 
					| 7. Популярные альбомы 
					span (popularalbum_page.html)
			li
				a(href="newsong_page.html" target="_blank") 
					| 8. Новые песни 
					span (newsong_page.html)
			li
				a(href="genre_page.html" target="_blank") 
					| 9. Жанры  
					span (genre_page.html)
			li
				a(href="compilation_page.html" target="_blank") 
					| 10. Сборники 
					span (compilation_page.html)
			li
				a(href="mood_page.html" target="_blank") 
					| 11. Музыка под настроение 
					span (mood_page.html)
			li
				a(href="text_page.html" target="_blank") 
					| 12. Текстовая страница 
					span (text_page.html)
			li
				a(href="cabinet_page.html" target="_blank") 
					| 13. Личный кабинет 
					span (cabinet_page.html)
			li
				a(href="password_page.html" target="_blank") 
					| 14. Смена пароля 
					span (password_page.html)
			li
				a(href="login_page.html" target="_blank") 
					| 15. Вход 
					span (login_page.html)
			li
				a(href="registration_page.html" target="_blank") 
					| 16. Регистрация 
					span (registration_page.html)
			li
				a(href="preloader_page.html" target="_blank") 
					| Прелоадер 
					span (preloader_page.html)