.all-page
	.all-page_box
		.all-page_title 
			img(src="style/img/icon/logo.svg", alt="Logo")
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| Главная страница 
					span (main_page.html)
			li
				a(href="track_page.html" target="_blank") 
					| Песня
					span (track_page.html)
			li
				a(href="artist_page.html" target="_blank") 
					| Исполнитель
					span (artist_page.html)
			li
				a(href="album_page.html" target="_blank") 
					| Альбома 
					span (album_page.html)
			li
				a(href="usermusic_page.html" target="_blank") 
					| Моя музыка 
					span (usermusic_page.html)
			li
				a(href="allartist_page.html" target="_blank") 
					| Все исполнители 
					span (allartist_page.html)
			li
				a(href="preloader_page.html" target="_blank") 
					| Прелоадер 
					span (preloader_page.html)