.main-wrapper
	include ../var/top_line.pug

	.wrapper.compilation-page
		
		.wrapper-box
			.wrapper-content
				.wrapper-elements
					.wrapper-elem.header-info.header-info-single
						h1.header-info-name Сборники

					.wrapper-elem.wrapper-compilation
						.wrapper-tab
							a(href="#").wrapper-tab-elem.active популярные
							a(href="#").wrapper-tab-elem недавно добавленные
						
						.media-wrapper
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Дискотека 80
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Кавказские
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Дискотека 80
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Кавказские
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Дискотека 80
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Кавказские
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Дискотека 80
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Кавказские
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Дискотека 80
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Кавказские
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
							.media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
									.media-play
										.media-play-btn
								.media-info
									a(href="").media-link.media-name Басы в машину
						

					.wrapper-elem
						button.show-more
							img(src="style/img/icon/more-icon.svg", alt="").show-more-img 
							span.show-more-text Показать больше
						
						.pagination
							a(href="").pagination-elem.pagination-nav.disabled
								svg(width="8" height="17" viewBox="0 0 8 17" fill="none" xmlns="http://www.w3.org/2000/svg").pagination-nav-icon
									path(d="M7 1L1 8.71635L7 16" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")
							a(href="").pagination-elem 1
							a(href="").pagination-elem.active 2
							a(href="").pagination-elem 3
							a(href="").pagination-elem 4
							a(href="").pagination-elem 5
							a(href="").pagination-elem ... 
							a(href="").pagination-elem 15
							a(href="").pagination-elem.pagination-nav
								svg(width="8" height="17" viewBox="0 0 8 17" fill="none" xmlns="http://www.w3.org/2000/svg").pagination-nav-icon
									path(d="M1 16L7 8.28365L1 1" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")

				include ../var/footer.pug
				
			include ../var/sidebar.pug
		