.main-wrapper
	include ../var/top_line.pug
	
	.wrapper.main-page
		.wrapper-elem.muslist.main-slider.owl-carousel
			.media-elem.mustoggler(data-musid="track-id-1" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;Alicia Keys&quot;,
							&quot;title&quot; : &quot;Good Job&quot;,
							&quot;url&quot; : &quot;https://dl1.ru-music.xn--41a.ws/mp3/4039.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-1.jpg&quot;,
							&quot;id&quot; : &quot;track-id-1&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-1.jpg", alt="").media-img
					.media-play
				.media-info
					a(href="").media-link.media-name What Kinda Music What Kinda Music
					a(href="").media-link.media-artist Tom Misch, Yussef Dayes
			.media-elem.mustoggler(data-musid="track-id-2" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;Intelligency&quot;,
							&quot;title&quot; : &quot;Renovatio&quot;,
							&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-2.jpg&quot;,
							&quot;id&quot; : &quot;track-id-2&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-2.jpg", alt="").media-img
					.media-play
				.media-info
					a(href="").media-link.media-name 58
					a(href="").media-link.media-artist Егор Крид
			.media-elem.mustoggler(data-musid="track-id-3" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;The Weeknd&quot;,
							&quot;title&quot; : &quot;After Hours&quot;,
							&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-4.jpg&quot;,
							&quot;id&quot; : &quot;track-id-3&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-3.jpg", alt="").media-img
					.media-play
				.media-info
					a(href="").media-link.media-name JOYRiDE
					a(href="").media-link.media-artist LOONY
			.media-elem.mustoggler(data-musid="track-id-4" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;Клава Кока&quot;,
							&quot;title&quot; : &quot;Покинула чат&quot;,
							&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-3.jpg&quot;,
							&quot;id&quot; : &quot;track-id-3&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-4.jpg", alt="").media-img
					.media-play
				.media-info
					a(href="").media-link.media-name Time Only Moves
					a(href="").media-link.media-artist Imany
			.media-elem.mustoggler(data-musid="track-id-5" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;The Weeknd&quot;,
							&quot;title&quot; : &quot;After Hours&quot;,
							&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-4.jpg&quot;,
							&quot;id&quot; : &quot;track-id-5&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-5.jpg", alt="").media-img
					.media-play
				.media-info
					a(href="").media-link.media-name В четырёх стенах
					a(href="").media-link.media-artist Мураками
			.media-elem.mustoggler(data-musid="track-id-6" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;Little Big&quot;,
							&quot;title&quot; : &quot;UNO&quot;,
							&quot;url&quot; : &quot;https://dl1.ru-music.xn--41a.ws/mp3/3979.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-5.jpg&quot;,
							&quot;id&quot; : &quot;track-id-6&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-4.jpg", alt="").media-img
					.media-play
						.medi-play-btn
				.media-info
					a(href="").media-link.media-name Time Only Moves
					a(href="").media-link.media-artist Imany
			.media-elem.mustoggler(data-musid="track-id-7" 
					data-musmeta!=`{
							&quot;artist&quot; : &quot;Тайпан, Agunda&quot;,
							&quot;title&quot; : &quot;Луна не знает пути&quot;,
							&quot;url&quot; : &quot;https://dl1.ru-music.xn--41a.ws/mp3/3947.mp3&quot;,
							&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-6.jpg&quot;,
							&quot;id&quot; : &quot;track-id-7&quot;}`
				)
				.media-img-box
					img(src="style/img/album/album-cover-2.jpg", alt="").media-img
					.media-play
				.media-info
					a(href="").media-link.media-name 58
					a(href="").media-link.media-artist Егор Крид

		.wrapper-box
			.wrapper-content
				.wrapper-elements 
					.wrapper-elem.wrapper-song
						.wrapper-heading
							.wrapper-heading-title Популярная музыка
							a(href="").wrapper-heading-link 
								| Смотреть всё
								svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
									path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")
						
						.wrapper-tab
							a(href="#").wrapper-tab-elem за год
							a(href="#").wrapper-tab-elem.active полгода
							a(href="#").wrapper-tab-elem месяц
							a(href="#").wrapper-tab-elem неделю
							a(href="#").wrapper-tab-elem сегодня
							a(href="#").wrapper-tab-elem в тренде
						
						.wrapper-tracklist.muslist
							.track.mustoggler(data-musid="track-id-1" 
									data-musmeta!=`{
											&quot;artist&quot; : &quot;Alicia Keys&quot;,
											&quot;title&quot; : &quot;Good Job&quot;,
											&quot;url&quot; : &quot;https://dl1.ru-music.xn--41a.ws/mp3/4039.mp3&quot;,
											&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-1.jpg&quot;,
											&quot;id&quot; : &quot;track-id-1&quot;}`
								)
								.track-img-box(style="background-image: url(style/img/tracklist/tracklist-cover-1.jpg)")
									.track-play
									.equalizer
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
								.track-info
									a(href="").media-link.media-name Good Job
									a(href="").media-link.media-artist Alicia Keys
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown-wrap
											.track-share-dropdown
												a(href="#").track-share-dropdown-social.vk-link
												a(href="#").track-share-dropdown-social.tw-link
												a(href="#").track-share-dropdown-social.fb-link
												a(href="#").track-share-dropdown-social.od-link
												a(href="#").track-share-dropdown-copy
													| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track.mustoggler(data-musid="track-id-2" 
									data-musmeta!=`{
											&quot;artist&quot; : &quot;Intelligency&quot;,
											&quot;title&quot; : &quot;Renovatio&quot;,
											&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
											&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-2.jpg&quot;,
											&quot;id&quot; : &quot;track-id-2&quot;}`
								)
								.track-img-box(style="background-image: url(style/img/tracklist/tracklist-cover-2.jpg)")
									.track-play
									.equalizer
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
								.track-info
									a(href="").media-link.media-name Renovatio
									a(href="").media-link.media-artist Intelligency
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown-wrap
											.track-share-dropdown
												a(href="#").track-share-dropdown-social.vk-link
												a(href="#").track-share-dropdown-social.tw-link
												a(href="#").track-share-dropdown-social.fb-link
												a(href="#").track-share-dropdown-social.od-link
												a(href="#").track-share-dropdown-copy
													| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value.track__fulltime 02:30
										span.track-duration-value.track__duration
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track.mustoggler(data-musid="track-id-3" 
									data-musmeta!=`{
											&quot;artist&quot; : &quot;Клава Кока&quot;,
											&quot;title&quot; : &quot;Покинула чат&quot;,
											&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
											&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-3.jpg&quot;,
											&quot;id&quot; : &quot;track-id-3&quot;}`
								)
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-3.jpg", alt="").track-img
									.track-play
									.equalizer
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
								.track-info
									a(href="").media-link.media-name Покинула чат
									a(href="").media-link.media-artist Клава Кока
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown-wrap
											.track-share-dropdown
												a(href="#").track-share-dropdown-social.vk-link
												a(href="#").track-share-dropdown-social.tw-link
												a(href="#").track-share-dropdown-social.fb-link
												a(href="#").track-share-dropdown-social.od-link
												a(href="#").track-share-dropdown-copy
													| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track.mustoggler(data-musid="track-id-4" 
									data-musmeta!=`{
											&quot;artist&quot; : &quot;The Weeknd&quot;,
											&quot;title&quot; : &quot;After Hours&quot;,
											&quot;url&quot; : &quot;http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3&quot;,
											&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-4.jpg&quot;,
											&quot;id&quot; : &quot;track-id-4&quot;}`
								)
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-4.jpg", alt="").track-img
									.track-play
									.equalizer
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
								.track-info
									a(href="").media-link.media-name After Hours
									a(href="").media-link.media-artist The Weeknd
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown-wrap
											.track-share-dropdown
												a(href="#").track-share-dropdown-social.vk-link
												a(href="#").track-share-dropdown-social.tw-link
												a(href="#").track-share-dropdown-social.fb-link
												a(href="#").track-share-dropdown-social.od-link
												a(href="#").track-share-dropdown-copy
													| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track.mustoggler(data-musid="track-id-5" 
									data-musmeta!=`{
											&quot;artist&quot; : &quot;Little Big&quot;,
											&quot;title&quot; : &quot;UNO&quot;,
											&quot;url&quot; : &quot;https://dl1.ru-music.xn--41a.ws/mp3/3979.mp3&quot;,
											&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-5.jpg&quot;,
											&quot;id&quot; : &quot;track-id-5&quot;}`
								)
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-5.jpg", alt="").track-img
									.track-play
									.equalizer
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
								.track-info
									a(href="").media-link.media-name UNO
									a(href="").media-link.media-artist Little Big
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown-wrap
											.track-share-dropdown
												a(href="#").track-share-dropdown-social.vk-link
												a(href="#").track-share-dropdown-social.tw-link
												a(href="#").track-share-dropdown-social.fb-link
												a(href="#").track-share-dropdown-social.od-link
												a(href="#").track-share-dropdown-copy
													| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track.mustoggler(data-musid="track-id-6" 
									data-musmeta!=`{
											&quot;artist&quot; : &quot;Тайпан, Agunda&quot;,
											&quot;title&quot; : &quot;Луна не знает пути&quot;,
											&quot;url&quot; : &quot;https://dl1.ru-music.xn--41a.ws/mp3/3947.mp3&quot;,
											&quot;img&quot; : &quot;style/img/tracklist/tracklist-cover-6.jpg&quot;,
											&quot;id&quot; : &quot;track-id-6&quot;}`
								)
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-6.jpg", alt="").track-img
									.track-play
									.equalizer
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
										.equalizer-bar
								.track-info
									a(href="").media-link.media-name Луна не знает пути
									a(href="").media-link.media-artist Тайпан, Agunda
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown-wrap
											.track-share-dropdown
												a(href="#").track-share-dropdown-social.vk-link
												a(href="#").track-share-dropdown-social.tw-link
												a(href="#").track-share-dropdown-social.fb-link
												a(href="#").track-share-dropdown-social.od-link
												a(href="#").track-share-dropdown-copy
													| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
				
					.wrapper-elem.wrapper-album
						.wrapper-heading
							.wrapper-heading-title Популярные альбомы
							a(href="").wrapper-heading-link 
								| Смотреть всё
								svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
									path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

						.media-wrapper
							a(href="album_page.html").media-elem
								.media-img-box
									img(src="style/img/album/popularalbum-cover-1.jpg", alt="").media-img
								.media-info
									span.media-name Причины
									span.media-artist Ольга Серябкина
							a(href="album_page.html").media-elem
								.media-img-box
									img(src="style/img/album/popularalbum-cover-2.jpg", alt="").media-img
								.media-info
									span.media-name Апрель
									span.media-artist Митя Фомин
							a(href="album_page.html").media-elem
								.media-img-box
									img(src="style/img/album/popularalbum-cover-3.jpg", alt="").media-img
								.media-info
									span.media-name Романы. Часть 2
									span.media-artist Филипп Киркоров
							a(href="album_page.html").media-elem
								.media-img-box
									img(src="style/img/album/popularalbum-cover-4.jpg", alt="").media-img
								.media-info
									span.media-name Парабола
									span.media-artist Мот
							a(href="album_page.html").media-elem
								.media-img-box
									img(src="style/img/album/popularalbum-cover-5.jpg", alt="").media-img
								.media-info
									span.media-name Самоизоляция 
									span.media-artist Sobol

					.wrapper-elem.wrapper-artist
						.wrapper-heading 
							.wrapper-heading-title Популярные исполнители
							a(href="").wrapper-heading-link 
								| Смотреть всё
								svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
									path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

						.media-wrapper.artist
							a(href="artist_page.html").media-elem
								.media-img-box
									img(src="style/img/album/popularalbum-cover-1.jpg", alt="").media-img
								.media-info
									span.media-name kavabanga Depo kolibri
									span.media-artist русский реп
							a(href="artist_page.html").media-elem
								.media-img-box
									img(src="style/img/artist/popularartist-cover-2.jpg", alt="").media-img
								.media-info
									span.media-name Johnyboy
									span.media-artist русский реп
							a(href="artist_page.html").media-elem
								.media-img-box
									img(src="style/img/artist/popularartist-cover-3.jpg", alt="").media-img
								.media-info
									span.media-name Noize MC
									span.media-artist русский реп
							a(href="artist_page.html").media-elem
								.media-img-box
									img(src="style/img/artist/popularartist-cover-4.jpg", alt="").media-img
								.media-info
									span.media-name Нервы
									span.media-artist украинский реп
							a(href="artist_page.html").media-elem
								.media-img-box
									img(src="style/img/artist/popularartist-cover-5.jpg", alt="").media-img
								.media-info
									span.media-name Макс Корж 
									span.media-artist русский реп

					.wrapper-elem.wrapper-tag
						.wrapper-heading 
							.wrapper-heading-title Музыка под настроение
							a(href="").wrapper-heading-link 
								| Смотреть всё
								svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
									path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

						.tag
							a(href="").tag-elem Агрессивное
							a(href="").tag-elem Весеннее
							a(href="").tag-elem Грустное
							a(href="").tag-elem Дождь за окном
							a(href="").tag-elem Шуточное
							a(href="").tag-elem Мечтательное
							a(href="").tag-elem Мрачное
							a(href="").tag-elem Грустное
							a(href="").tag-elem Дождь за окном
							a(href="").tag-elem Шуточное
							a(href="").tag-elem Мечтательное
							a(href="").tag-elem Мрачное 
							a(href="").tag-elem Шуточное
							a(href="").tag-elem Мрачное
							a(href="").tag-elem Грустное
							a(href="").tag-elem Дождь за окном
							a(href="").tag-elem Шуточное
							a(href="").tag-elem Мечтательное
							a(href="").tag-elem Мрачное
							a(href="").tag-elem Дождь за окном
							a(href="").tag-elem Шуточное
							a(href="").tag-elem Дождь за окном
							a(href="").tag-elem Шуточное
							a(href="").tag-elem Мечтательное
							a(href="").tag-elem Дождь за окном
							a(href="").tag-elem Шуточное 
							a(href="").tag-elem Мечтательное

					.wrapper-elem.wrapper-compilation
						.wrapper-heading 
							.wrapper-heading-title Сборники
							a(href="").wrapper-heading-link 
								| Смотреть всё
								svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
									path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

						.media-wrapper
							a(href="").media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
								.media-info
									span.media-name Басы в машину
							a(href="").media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
								.media-info
									span.media-name Дискотека 80
							a(href="").media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
								.media-info
									span.media-name Кавказские
							a(href="").media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
								.media-info
									span.media-name Басы в машину
							a(href="").media-elem
								.media-img-box
									img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
								.media-info
									span.media-name Басы в машину
					
				include ../var/footer.pug

			include ../var/sidebar.pug
	
	