.main-wrapper
	include ../var/top_line.pug
	
	.wrapper.main-page
		.wrapper-elem.main-slider.owl-carousel
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-1.jpg", alt="").media-img
					.media-play
						.media-play-btn
				.media-info
					a(href="").media-link.media-name What Kinda Music What Kinda Music
					a(href="").media-link.media-artist Tom Misch, Yussef Dayes
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-2.jpg", alt="").media-img
					.media-play
						.media-play-btn
				.media-info
					a(href="").media-link.media-name 58
					a(href="").media-link.media-artist Егор Крид
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-3.jpg", alt="").media-img
					.media-play
						.media-play-btn
				.media-info
					a(href="").media-link.media-name JOYRiDE
					a(href="").media-link.media-artist LOONY
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-4.jpg", alt="").media-img
					.media-play
						.media-play-btn
				.media-info
					a(href="").media-link.media-name Time Only Moves
					a(href="").media-link.media-artist Imany
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-5.jpg", alt="").media-img
					.media-play
						.media-play-btn
				.media-info
					a(href="").media-link.media-name В четырёх стенах
					a(href="").media-link.media-artist Мураками
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-4.jpg", alt="").media-img
					.media-play
						.medi-play-btn
				.media-info
					a(href="").media-link.media-name Time Only Moves
					a(href="").media-link.media-artist Imany
			.media-elem
				.media-img-box
					img(src="style/img/album/album-cover-2.jpg", alt="").media-img
					.media-play
						.media-play-btn
				.media-info
					a(href="").media-link.media-name 58
					a(href="").media-link.media-artist Егор Крид

		.wrapper-box
			.wrapper-content
				.wrapper-elem.wrapper-song
					.wrapper-heading
						.wrapper-heading-title Популярная музыка
						a(href="").wrapper-heading-link 
							| Смотреть всё
							svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
								path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")
					
					.wrapper-tab
						a(href="#").wrapper-tab-elem за год
						a(href="#").wrapper-tab-elem.active полгода
						a(href="#").wrapper-tab-elem месяц
						a(href="#").wrapper-tab-elem неделю
						a(href="#").wrapper-tab-elem сегодня
						a(href="#").wrapper-tab-elem в тренде
					
					.wrapper-tracklist
						.track
							.track-img-box
								img(src="style/img/tracklist/tracklist-cover-1.jpg", alt="").track-img
								.track-play
									.track-play-btn
							.track-info
								a(href="").media-link.media-name Good Job
								a(href="").media-link.media-artist Alicia Keys
							.track-control
								.track-control-item.track-like
									svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
									span.track-like-value 35 450
								.track-control-item.track-share
									svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
								.track-control-item.track-add
									svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								.track-control-item.track-duration
									span.track-duration-value 02:30
									.track-download
										svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
						.track
							.track-img-box
								img(src="style/img/tracklist/tracklist-cover-2.jpg", alt="").track-img
								.track-play
									.track-play-btn
							.track-info
								a(href="").media-link.media-name Renovatio
								a(href="").media-link.media-artist Intelligency
							.track-control
								.track-control-item.track-like
									svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
									span.track-like-value 35 450
								.track-control-item.track-share
									svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
								.track-control-item.track-add
									svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								.track-control-item.track-duration
									span.track-duration-value 02:30
									.track-download
										svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
						.track
							.track-img-box
								img(src="style/img/tracklist/tracklist-cover-3.jpg", alt="").track-img
								.track-play
									.track-play-btn
							.track-info
								a(href="").media-link.media-name Покинула чат
								a(href="").media-link.media-artist Клава Кока
							.track-control
								.track-control-item.track-like
									svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
									span.track-like-value 35 450
								.track-control-item.track-share
									svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
								.track-control-item.track-add
									svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								.track-control-item.track-duration
									span.track-duration-value 02:30
									.track-download
										svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
						.track
							.track-img-box
								img(src="style/img/tracklist/tracklist-cover-4.jpg", alt="").track-img
								.track-play
									.track-play-btn
							.track-info
								a(href="").media-link.media-name After Hours
								a(href="").media-link.media-artist The Weeknd
							.track-control
								.track-control-item.track-like
									svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
									span.track-like-value 35 450
								.track-control-item.track-share
									svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
								.track-control-item.track-add
									svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								.track-control-item.track-duration
									span.track-duration-value 02:30
									.track-download
										svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
						.track
							.track-img-box
								img(src="style/img/tracklist/tracklist-cover-5.jpg", alt="").track-img
								.track-play
									.track-play-btn
							.track-info
								a(href="").media-link.media-name UNO
								a(href="").media-link.media-artist Little Big
							.track-control
								.track-control-item.track-like
									svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
									span.track-like-value 35 450
								.track-control-item.track-share
									svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
								.track-control-item.track-add
									svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								.track-control-item.track-duration
									span.track-duration-value 02:30
									.track-download
										svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
						.track
							.track-img-box
								img(src="style/img/tracklist/tracklist-cover-6.jpg", alt="").track-img
								.track-play
									.track-play-btn
							.track-info
								a(href="").media-link.media-name Луна не знает пути
								a(href="").media-link.media-artist Тайпан, Agunda
							.track-control
								.track-control-item.track-like
									svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
									span.track-like-value 35 450
								.track-control-item.track-share
									svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
								.track-control-item.track-add
									svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
										path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								.track-control-item.track-duration
									span.track-duration-value 02:30
									.track-download
										svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
											path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
			
				.wrapper-elem.wrapper-album
					.wrapper-heading
						.wrapper-heading-title Популярные альбомы
						a(href="").wrapper-heading-link 
							| Смотреть всё
							svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
								path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

					.media-wrapper
						.media-elem
							.media-img-box
								img(src="style/img/album/popularalbum-cover-1.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Причины
								a(href="").media-link.media-artist Ольга Серябкина
						.media-elem
							.media-img-box
								img(src="style/img/album/popularalbum-cover-2.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Апрель
								a(href="").media-link.media-artist Митя Фомин
						.media-elem
							.media-img-box
								img(src="style/img/album/popularalbum-cover-3.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Романы. Часть 2
								a(href="").media-link.media-artist Филипп Киркоров
						.media-elem
							.media-img-box
								img(src="style/img/album/popularalbum-cover-4.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Парабола
								a(href="").media-link.media-artist Мот
						.media-elem
							.media-img-box
								img(src="style/img/album/popularalbum-cover-5.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Самоизоляция 
								a(href="").media-link.media-artist Sobol

				.wrapper-elem.wrapper-artist
					.wrapper-heading 
						.wrapper-heading-title Популярные исполнители
						a(href="").wrapper-heading-link 
							| Смотреть всё
							svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
								path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

					.media-wrapper.artist
						.media-elem
							.media-img-box
								img(src="style/img/album/popularalbum-cover-1.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name kavabanga Depo kolibri
								a(href="").media-link.media-artist русский реп
						.media-elem
							.media-img-box
								img(src="style/img/artist/popularartist-cover-2.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Johnyboy
								a(href="").media-link.media-artist русский реп
						.media-elem
							.media-img-box
								img(src="style/img/artist/popularartist-cover-3.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Noize MC
								a(href="").media-link.media-artist русский реп
						.media-elem
							.media-img-box
								img(src="style/img/artist/popularartist-cover-4.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Нервы
								a(href="").media-link.media-artist украинский реп
						.media-elem
							.media-img-box
								img(src="style/img/artist/popularartist-cover-5.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Макс Корж 
								a(href="").media-link.media-artist русский реп

				.wrapper-elem.wrapper-tag
					.wrapper-heading 
						.wrapper-heading-title Музыка под настроение
						a(href="").wrapper-heading-link 
							| Смотреть всё
							svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
								path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

					.tag
						a(href="").tag-elem Агрессивное
						a(href="").tag-elem Весеннее
						a(href="").tag-elem Грустное
						a(href="").tag-elem Дождь за окном
						a(href="").tag-elem Шуточное
						a(href="").tag-elem Мечтательное
						a(href="").tag-elem Мрачное
						a(href="").tag-elem Грустное
						a(href="").tag-elem Дождь за окном
						a(href="").tag-elem Шуточное
						a(href="").tag-elem Мечтательное
						a(href="").tag-elem Мрачное 
						a(href="").tag-elem Шуточное
						a(href="").tag-elem Мрачное
						a(href="").tag-elem Грустное
						a(href="").tag-elem Дождь за окном
						a(href="").tag-elem Шуточное
						a(href="").tag-elem Мечтательное
						a(href="").tag-elem Мрачное
						a(href="").tag-elem Дождь за окном
						a(href="").tag-elem Шуточное
						a(href="").tag-elem Дождь за окном
						a(href="").tag-elem Шуточное
						a(href="").tag-elem Мечтательное
						a(href="").tag-elem Дождь за окном
						a(href="").tag-elem Шуточное 
						a(href="").tag-elem Мечтательное

				.wrapper-elem.wrapper-compilation
					.wrapper-heading 
						.wrapper-heading-title Сборники
						a(href="").wrapper-heading-link 
							| Смотреть всё
							svg( width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg").wrapper-heading-icon
								path(d="M1 11L5 5.85577L1 1" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")

					.media-wrapper
						.media-elem
							.media-img-box
								img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Басы в машину
						.media-elem
							.media-img-box
								img(src="style/img/compilation/compilation-cover-2.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Дискотека 80
						.media-elem
							.media-img-box
								img(src="style/img/compilation/compilation-cover-3.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Кавказские
						.media-elem
							.media-img-box
								img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Басы в машину
						.media-elem
							.media-img-box
								img(src="style/img/compilation/compilation-cover-1.jpg", alt="").media-img
								.media-play
									.media-play-btn
							.media-info
								a(href="").media-link.media-name Басы в машину

			.wrapper-sidebar
				.sidebar-elem
					.sidebar-heading Топ жанры
					.tag
						a(href="").tag-elem поп
						a(href="").tag-elem клубная
						a(href="").tag-elem рок
						a(href="").tag-elem dance 
						a(href="").tag-elem шансон
						a(href="").tag-elem транс
						a(href="").tag-elem реп
						a(href="").tag-elem релакс
						a(href="").tag-elem хип-хоп

				.sidebar-elem
					.sidebar-heading Топ 10 треков
					
					.sidebar-track-wrap
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name Новый Рассвет
								a(href="").media-link.media-artist Anivar
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name After Hours
								a(href="").media-link.media-artist The Weeknd
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name Новый Рассвет
								a(href="").media-link.media-artist Anivar
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name Луна не знает пути
								a(href="").media-link.media-artist Тайпан, Agunda
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")

					a(href="").sidebar-more-btn + Показать еще

				.sidebar-elem
					.sidebar-heading Свежие поступления
					
					.sidebar-track-wrap
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name Новый Рассвет
								a(href="").media-link.media-artist Anivar
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name After Hours
								a(href="").media-link.media-artist The Weeknd
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name Новый Рассвет
								a(href="").media-link.media-artist Anivar
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
						.sidebar-track
							.meida-info
								a(href="").media-link.media-name Луна не знает пути
								a(href="").media-link.media-artist Тайпан, Agunda
							.sidebar-track-btn
								svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
									path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
								svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
									path(d="M3 0H0V10H3V0Z" fill="#151515")
									path(d="M8 0H5V10H8V0Z" fill="#151515")
					
					a(href="").sidebar-more-btn + Показать еще
	include ../var/footer.pug