.main-wrapper
	include ../var/top_line.pug

	.wrapper.password-page
		
		.wrapper-box
			.wrapper-content
				.wrapper-elements
					.wrapper-elem.header-info.header-info-single
						h1.header-info-name Смена пароля
					
					.wrapper-elem.wrapper-form
						form(action="").main-form.validateForm
							.main-form-input-wrap
								input(type="email" name="Email" placeholder="Email" required).main-form-input.formEmail
							.main-form-input-wrap
								input(type="password" name="NewPassword" placeholder="Новый пароль" required).main-form-input.formPassword#newPassword
							.main-form-input-wrap
								input(type="password" name="NewPassword" placeholder="Новый пароль еще раз" required).main-form-input.formConfirmPassword
							.main-form-btn-wrap
								button.main-form-btn 
									span Сменить пароль

						
				include ../var/footer.pug
				
			include ../var/sidebar.pug