.main-wrapper
	include ../var/top_line.pug

	.wrapper.text-page
		
		.wrapper-box
			.wrapper-content
				.wrapper-elements
					.wrapper-elem.header-info.header-info-single
						h1 Для правообладателя (DMCA)

					.wrapper-elem.wrapper-text
						p
							| Это давно установленный факт, что читатель будет 
							| отвлекаться на удобочитаемое содержимое страницы 
							| при просмотре ее макета. Смысл использования Lorem 
							| Ipsum заключается в том, что он имеет более или менее 
							| нормальное распределение букв, в отличие от использования 
							| «Контент здесь, контент здесь», что делает его похожим на 
							| читаемый английский. Многие настольные издательские 
							| пакеты и редакторы веб-страниц теперь используют Lorem 
							| Ipsum в качестве текста модели по умолчанию, а поиск по 
							| запросу «lorem ipsum» обнаружит многие веб-сайты, которые 
							| еще находятся в зачаточном состоянии. Различные версии развивались 
							|  годами, иногда случайно, иногда специально (впрыскиваемый юмор 
							| и тому подобное).
						p
							| Многие настольные издательские пакеты и редакторы 
							a(href="").wrapper-text-link тут типа ссылка 
							| теперь используют Lorem Ipsum в качестве текста модели по умолчанию, 
							| а поиск по запросу «lorem ipsum» обнаружит многие веб-сайты, которые 
							| еще находятся в зачаточном состоянии. Различные версии развивались 
							| годами, иногда случайно, иногда специально (впрыскиваемый юмор 
							| и тому подобное).
						h2 Многие настольные издательские пакеты
						p
							| Многие настольные издательские 
							a(href="").wrapper-text-link и тут может быть ссылка допустим 
							| веб-страниц теперь используют Lorem Ipsum в качестве текста модели 
							| по умолчанию, а поиск по запросу «lorem ipsum» обнаружит многие 
							| веб-сайты, которые еще находятся в зачаточном состоянии. Различные 
							| версии развивались годами, иногда случайно, иногда специально 
							| (впрыскиваемый юмор и тому подобное).
						ul
							li Test
							li Test
							li Test
						ol
							li Test
							li Test
							li Test

					
				include ../var/footer.pug
				
			include ../var/sidebar.pug
		
		include ../var/footer-mob.pug
		