.main-wrapper
	include ../var/top_line.pug

	.wrapper.usersong-page
		
		.wrapper-box
			.wrapper-content
				.wrapper-elements
					.wrapper-elem.header-info.header-info-single
						.header-info-name Моя музыка
							span.header-info-value-song 24 трека
						.header-info-desc
							| Для добавления песен в данный раздел 
							| просто нажмите на иконку (+) в списке треков

					.wrapper-elem.wrapper-song
						.wrapper-tracklist
							.track
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-1.jpg", alt="").track-img
									.track-play
										.track-play-btn
								.track-info
									a(href="").media-link.media-name Good Job
									a(href="").media-link.media-artist Alicia Keys
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown
											a(href="#").track-share-dropdown-social.vk-link
											a(href="#").track-share-dropdown-social.tw-link
											a(href="#").track-share-dropdown-social.fb-link
											a(href="#").track-share-dropdown-social.od-link
											a(href="#").track-share-dropdown-copy
												| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-2.jpg", alt="").track-img
									.track-play
										.track-play-btn
								.track-info
									a(href="").media-link.media-name Renovatio
									a(href="").media-link.media-artist Intelligency
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown
											a(href="#").track-share-dropdown-social.vk-link
											a(href="#").track-share-dropdown-social.tw-link
											a(href="#").track-share-dropdown-social.fb-link
											a(href="#").track-share-dropdown-social.od-link
											a(href="#").track-share-dropdown-copy
												| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-3.jpg", alt="").track-img
									.track-play
										.track-play-btn
								.track-info
									a(href="").media-link.media-name Покинула чат
									a(href="").media-link.media-artist Клава Кока
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown
											a(href="#").track-share-dropdown-social.vk-link
											a(href="#").track-share-dropdown-social.tw-link
											a(href="#").track-share-dropdown-social.fb-link
											a(href="#").track-share-dropdown-social.od-link
											a(href="#").track-share-dropdown-copy
												| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-4.jpg", alt="").track-img
									.track-play
										.track-play-btn
								.track-info
									a(href="").media-link.media-name After Hours
									a(href="").media-link.media-artist The Weeknd
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown
											a(href="#").track-share-dropdown-social.vk-link
											a(href="#").track-share-dropdown-social.tw-link
											a(href="#").track-share-dropdown-social.fb-link
											a(href="#").track-share-dropdown-social.od-link
											a(href="#").track-share-dropdown-copy
												| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-5.jpg", alt="").track-img
									.track-play
										.track-play-btn
								.track-info
									a(href="").media-link.media-name UNO
									a(href="").media-link.media-artist Little Big
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown
											a(href="#").track-share-dropdown-social.vk-link
											a(href="#").track-share-dropdown-social.tw-link
											a(href="#").track-share-dropdown-social.fb-link
											a(href="#").track-share-dropdown-social.od-link
											a(href="#").track-share-dropdown-copy
												| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
							.track
								.track-img-box
									img(src="style/img/tracklist/tracklist-cover-6.jpg", alt="").track-img
									.track-play
										.track-play-btn
								.track-info
									a(href="").media-link.media-name Луна не знает пути
									a(href="").media-link.media-artist Тайпан, Agunda
								.track-control
									.track-control-item.track-like
										svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
										span.track-like-value 35 450
									.track-control-item.track-share
										svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
											path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
										.track-share-dropdown
											a(href="#").track-share-dropdown-social.vk-link
											a(href="#").track-share-dropdown-social.tw-link
											a(href="#").track-share-dropdown-social.fb-link
											a(href="#").track-share-dropdown-social.od-link
											a(href="#").track-share-dropdown-copy
												| Скопировать ссылку
									.track-control-item.track-add
										svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
											path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
										svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
											path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
									.track-control-item.track-duration
										span.track-duration-value 02:30
										.track-download
											svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
												path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
												path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
				

				include ../var/footer.pug
				
			include ../var/sidebar.pug
		