.footer,
.footer-mob
	+flex
	padding: 0
		bottom: 116px
	margin:
		top: auto
	flex: 0 0 auto

	&-elem
		margin:
			right: 20px
		font-size: 14px
		line-height: 14px
		color: #c4c4c4
		
		&:last-child
			margin:
				right: 0
	
	&-nav
		color: $font-light-color
	
	&-link
		color: #0054B9
	
	a
		+prefix(transition, $default-transition)

	a:hover
		color: $accent-color

.footer-mob
	display: none