.sidebar
	&-elem
		margin:
			bottom: 30px

	&-heading
		margin:
			bottom: 20px
		font-size: 18px
		font-weight: 700
		line-height: 18px

	&-track
		+flex
		padding: 10px 0
		border-bottom: $border-param
		+justify-content(space-between)
		+align-items(center)
		cursor: pointer

		&:first-child
			padding-top: 0
		
		&:last-child
			border: 0

		.media-info
			padding:
				right: 10px

		.media-link
			max-width: 220px

		&-btn-box
			position: relative
			width: 30px
			height: 30px
			border: 1px solid #151515
			border-radius: 100px
			cursor: pointer
			+prefix(transition, $default-transition)
			overflow: hidden

		&-btn
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			border-radius: 100px

			&:before,
			&:after
				content: ''
				display: block
				position: absolute
				margin:
					top: -13px
					left: -13px
				top: 50%
				left: 50%
				width: 26px
				height: 26px
				background-size: 10px 12px
				background-position: center center
				background-repeat: no-repeat
				border-radius: 100%	
				opacity: 0

			&:before
				background-image: url(../img/icon/play-btn.svg)
				background-position: 9px center
				opacity: 1
			
			&:after
				background-image: url(../img/icon/pause-orange-icon.svg)

		&:hover
			.sidebar-track-btn-box
				+prefix(transform, scale(1.05))

		&.mustoggler_playing
			.sidebar-track-btn
				&:after
					opacity: 1

				&:before
					opacity: 0
				
			.sidebar-track-btn-box
				border-color: $accent-color
		
		&.mustoggler_playing.mustoggler_paused
			.sidebar-track-btn
				&:after
					opacity: 1

				&:before
					opacity: 0
				
			.sidebar-track-btn-box
				border-color: $accent-color
			

	&-more-btn
		display: inline-block
		margin:
			top: 10px
		font-size: 15px
		color: $accent-color

		&:hover
			text-decoration: underline