.sidebar
	&-elem
		margin:
			bottom: 30px

	&-heading
		margin:
			bottom: 20px

	&-track
		+flex
		padding: 10px 0
		border-bottom: $border-param
		+justify-content(space-between)
		+align-items(center)

		&:first-child
			padding-top: 0
		
		&:last-child
			border: 0

		.media-link
			max-width: 220px

		&-btn
			+flex
			width: 30px
			height: 30px
			border: 1px solid #151515
			border-radius: 100%
			cursor: pointer
			+prefix(transition, $default-transition)

			&:hover
				border-color: $accent-color

				.sidebar-track-btn-icon
					path 
						fill: $accent-color

			&-icon
				margin: auto

				path
					+prefix(transition, $default-transition)

		&-play
			width: 9px 
			height: 12px
		
		&-pause
			display: none
	
	&-more-btn
		display: inline-block
		margin:
			top: 10px
		font-size: 15px
		color: $accent-color

		&:hover
			text-decoration: underline