footer.footer
	.footer-elem © 2020 Musmore
	a(href="").footer-elem.footer-nav Для правобладателей (DMCA)
	a(href="").footer-elem.footer-nav Контакты
	a(href="mailto:musmore.supp@gmail.com").footer-elem.footer-link musmore.supp@gmail.com