.fixed-player.p.p-fixed
	#jquery_jplayer.jp-jplayer

	#jp_container.jp-audio(role="application" aria-label="media player")
		.jp-track-durbar-c
			.p-progress.jp-track-durbar
			
		.container

			.jp-type-playlist
				.jp-playlist
					ul#playlist
						li &nbsp;

				.jp-gui.jp-interface
					.p-wrapper.jp-controls-holder

						.p-control.jp-controls
							button.jp-previous.p-control-btn.p-control-back(role="button" tabindex="0")
								svg.p-control-img(width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
									path.p-control-img-elem(d="M2 7.33317L11 0.982318L11 13.684L2 7.33317Z" fill="#C4C4C4")
									rect.p-control-img-elem(x="2" y="13.6665" width="2" height="13" transform="rotate(-180 2 13.6665)" fill="#C4C4C4")
							button.jp-play.p-control-btn.p-control-play(role="button" tabindex="0")
							button.jp-next.p-control-btn.p-control-forward(role="button" tabindex="0")
								svg.p-control-img(width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg")
									path.p-control-img-elem(d="M12 7.33333L3 13.6842L3 0.98248L12 7.33333Z" fill="#C4C4C4")
									rect.p-control-img-elem(x="12" y="1" width="2" height="13" fill="#C4C4C4")

						.p-song.jp-track-info
							.jp-track-info-l
								.jp-track-info__img
							
							.jp-track-info-r
								.media-name.jp-track-info__track Track
								.media-artist.jp-track-info__artist Artist
							
						.p-track-control
							.track-control-item.track-like.active
								svg(width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
									path(d="M8.68295 15C0.449777 9.41379 1.00796 5.48276 1.00796 5.48276C1.00796 3 3.03136 1 5.54318 1C6.72931 1 7.84567 1.48276 8.68295 2.24138C9.52022 1.48276 10.5668 1 11.8227 1C14.3345 1 16.3579 3 16.3579 5.48276C16.3579 5.48276 16.9161 9.41379 8.68295 15Z" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
								span.track-like-value 35 450
							.track-control-item.track-share
								svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
									path(d="M13 7.95122V16H1V7.95122M7 10.6951V1.18292M4 4.10437L6.99481 1L9.81314 4.10437" stroke="#808080" stroke-width="1.5" stroke-linejoin="round")
							.track-control-item.track-add
								svg(width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-icon
									path(d="M7.52322 0V8M7.52322 8L7.52322 16M7.52322 8L0 8M7.52322 8L15 8" stroke="#808080" stroke-width="1.5")
								svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-control-add-checkmark-icon
									path(d="M1 7.52941L5.26638 12.0184L16.6001 1" stroke="#FF7A1B" stroke-width="1.5" stroke-miterlimit="10")
							.track-control-item.track-download
								svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon
									path(d="M12.736 7.65582L8.29589 11.8317C8.17905 11.9477 7.94536 11.9477 7.82852 11.8317L3.27161 7.65582" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
									path(d="M8.06226 0V7.42382V11.8317" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
									path(d="M0 16.0381H16.0076" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="round")
						
						.p-track-control.p-track-control-r.jp-subcontorols
							.track-control-item.track-hq.p-track-control
								span.track-hq-icon HQ
							.track-control-item.track-shuffle.p-track-control
								svg(width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-shuffle-icon
									path(d="M0 12.9939L2.0101 12.9939C4.13187 12.9939 6.14196 12.151 7.5937 10.4653L11.1672 6.49181C12.6189 4.92649 14.629 3.96322 16.7508 3.96322L17.7559 3.96322" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")
									path(d="M6.81204 5.28784C5.3603 3.72252 3.35021 2.75925 1.22844 2.75925L0.223389 2.75925" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")
									path(d="M18.0909 11.79L16.0809 11.79C15.2991 11.79 14.6291 11.6696 13.8474 11.4288" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")
									path(d="M21.7858 4.29024L18.1006 7.18006C17.989 7.30047 17.7656 7.18006 17.7656 6.93924L17.7656 1.15961C17.7656 0.918789 17.989 0.79838 18.1006 0.918789L21.7858 3.80861C21.8975 3.92901 21.8975 4.16983 21.7858 4.29024Z" fill="#808080").track-control-icon-fill
									path(d="M21.7858 11.635L18.1006 8.7452C17.989 8.62479 17.7656 8.7452 17.7656 8.98602L17.7656 14.7657C17.7656 15.0065 17.989 15.1269 18.1006 15.0065L21.7858 12.1167C21.8975 11.9962 21.8975 11.7554 21.7858 11.635Z" fill="#808080").track-control-icon-fill
							.track-control-item.track-repeat.p-track-control
								svg(width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg").track-control-icon.track-repeat-icon
									path(d="M18.5762 4.02289L15.4521 6.29492V1.75085L18.5762 4.02289Z" fill="#808080" stroke="#808080").track-control-icon-fill
									path(d="M14.952 4.02295H5.36865C3.52127 4.02295 2.02026 5.52395 2.02026 7.37134V8.06411" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")
									path(d="M1.5137 13.9526L4.63775 11.6805V16.2246L1.5137 13.9526Z" fill="#808080" stroke="#808080").track-control-icon-fill
									path(d="M5.02246 13.9525H14.7212C16.5686 13.9525 18.0696 12.4515 18.0696 10.6041V9.91138" stroke="#808080" stroke-width="1.5" stroke-miterlimit="10")
							.track-control-item.track-volume.jp-volume-c
								.track-control-icon.track-valume-icon.jp-volume-ico

								.track-volume-slider.jp-volume-bar