.wrapper-sidebar
	.sidebar-elem
		.sidebar-heading Топ жанры
		.tag
			a(href="").tag-elem поп
			a(href="").tag-elem клубная
			a(href="").tag-elem рок
			a(href="").tag-elem dance 
			a(href="").tag-elem шансон
			a(href="").tag-elem транс
			a(href="").tag-elem реп
			a(href="").tag-elem релакс
			a(href="").tag-elem хип-хоп

	.sidebar-elem
		.sidebar-heading Топ 10 треков
		
		.sidebar-track-wrap
			.sidebar-track.active
				.meida-info
					a(href="").media-link.media-name Новый Рассвет
					a(href="").media-link.media-artist Anivar
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name After Hours
					a(href="").media-link.media-artist The Weeknd
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name Новый Рассвет
					a(href="").media-link.media-artist Anivar
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name Луна не знает пути
					a(href="").media-link.media-artist Тайпан, Agunda
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")

		a(href="").sidebar-more-btn + Показать еще

	.sidebar-elem
		.sidebar-heading Свежие поступления
		
		.sidebar-track-wrap
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name Новый Рассвет
					a(href="").media-link.media-artist Anivar
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name After Hours
					a(href="").media-link.media-artist The Weeknd
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name Новый Рассвет
					a(href="").media-link.media-artist Anivar
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
			.sidebar-track
				.meida-info
					a(href="").media-link.media-name Луна не знает пути
					a(href="").media-link.media-artist Тайпан, Agunda
				.sidebar-track-btn
					svg(width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-play
						path(d="M12.3539 8.88317L0.89512 16.9691L0.895121 0.797291L12.3539 8.88317Z" fill="#151515")
					svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg").sidebar-track-btn-icon.sidebar-track-pause
						path(d="M3 0H0V10H3V0Z" fill="#151515")
						path(d="M8 0H5V10H8V0Z" fill="#151515")
		
		a(href="").sidebar-more-btn + Показать еще