header.top-line
	.top-line_elem
		a(href="").top-line_logo
			img(src="style/img/icon/logo.svg", alt="Logo Musmore").top-line_logo-img
	.top-line_elem.search
		.top-line_search
			input(type="text" placeholder="Трек, исполнитель, альбом").top-line_search-input
			input(type="submit").top-line_search-btn
	.top-line_elem.top-line_nav-wrap
		nav.top-line_nav
			ul.top-line_nav-list
				li
					a(href="newsong_page.html").top-line_nav-link.active Новые 
				li
					a(href="compilation_page.html").top-line_nav-link Сборники
				li
					a(href="genre_page.html").top-line_nav-link Жанры 
				li
					a(href="allartist_page.html").top-line_nav-link Исполнители
				li
					a(href="popularalbum_page.html").top-line_nav-link Популярная
	.top-line_elem.top-line_buttons
		a(href="usermusic_page.html").top-line_button.top-line_favorites.favorites-none
			svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg").top-line_button-img
				path(d="M11.5 3L13.6329 9.56434H20.535L14.9511 13.6213L17.084 20.1857L11.5 16.1287L5.91604 20.1857L8.04892 13.6213L2.46496 9.56434H9.36712L11.5 3Z" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")
			span.top-line_favorites-value 
				span.top-line_favorites-value-number 0
		a(href="cabinet_page.html").top-line_button.top-line_login
			svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg").top-line_button-img
				path(d="M10.5 20C15.7467 20 20 15.7467 20 10.5C20 5.2533 15.7467 1 10.5 1C5.2533 1 1 5.2533 1 10.5C1 15.7467 5.2533 20 10.5 20Z" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")
				path(d="M10.5 11.7258C12.1935 11.7258 13.5663 10.353 13.5663 8.65959C13.5663 6.96617 12.1935 5.59338 10.5 5.59338C8.80663 5.59338 7.43384 6.96617 7.43384 8.65959C7.43384 10.353 8.80663 11.7258 10.5 11.7258Z" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")
				path(d="M4.24976 17.4752C4.24976 15.5359 5.82217 13.9766 7.74838 13.9766H13.2518C15.1911 13.9766 16.7505 15.549 16.7505 17.4752" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10")
			span.top-line_button-text Войти
		.top-line_account
			img(src="", alt="")
			.top-line_account-dropdown-wrap
				.top-line_account-dropdown
					a(href="").top-line_account-dropdown-link Профиль
					a(href="").top-line_account-dropdown-link Войти